.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-2);
    font-size: 15px;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: var(--max-width);
    background-color: var(--color-1);
    border-radius: 5%;
}

.qr {
    width: auto;
    border-radius: 5%;
}

.text {
    padding: .4em;
}

h2 {
    text-align: center;
}

p {
    color: var(--color-3);
    text-align: center;;
    margin-bottom: 1em;
}